<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.appointmentsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppointmentSystem"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".ManageSchedule"
            android:exported="false" />
        <activity
            android:name=".MakeAppointment"
            android:exported="false" />
        <activity
            android:name=".StudentUpcoming"
            android:exported="false" />
        <activity
            android:name=".StudentMainPage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LecturerUpcoming"
            android:exported="false" />
        <activity
            android:name=".UploadSchedule"
            android:exported="false" />
        <activity
            android:name=".LecturerMainPage"
            android:exported="false" />
        <activity
            android:name=".LecturerLogin"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".roleSelection"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>